#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header > a{
    text-decoration: none;
    color: rgb(97, 96, 96);
    padding-left: 30px;
    padding-right: 30px;
}

#header > div > a{
    text-decoration: none;
    color: rgb(97, 96, 96);
    padding-left: 30px;
    padding-right: 30px;
}

#header > div > a >img{
    height: 30px;
    border-radius: 100px;
}