.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.login > input{
    padding: 10px;
    width: 300px;
    margin: 0.5rem;
}
.login > button{
    padding: 10px;
    width: 200px;
    margin: 0.5rem;
    background-color: rgb(112, 211, 176);
    border-radius: 10px;
}
